.component {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  width: calc(100% - 340px);
  padding: 66px 170px 0 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;

  @media screen and (max-width: 1000px) {
    width: 100vw;
    padding: 20px;
    gap: 10px;
    box-sizing: border-box;

    .imageWrapper {
      margin: 0;
      gap: 40px;

      img {
        width: calc(100% - 120px);
        margin: 0 auto;
        height: auto;
      }

      .top,
      .bottom {
        flex-direction: column;
        gap: 40px;
      }
    }
  }
}

.imageWrapper {
  margin: 70px 0 50px 0;
  display: flex;
  flex-direction: column;
  gap: 100px;

  img {
    width: 280px;
  }

  .top,
  .bottom {
    display: flex;
    gap: 120px;
  }
}
