.component {
  width: 100%;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
  background-color: rgba(0, 0, 0, 0.2);
}

.slider {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: opacity 1s ease-in-out; // 애니메이션 효과

  img {
    height: 100%;
    width: auto;
    max-width: none;
    object-fit: cover;
  }
}

.fadeIn {
  opacity: 1; // 현재 이미지 보이기
}

.fadeOut {
  opacity: 0; // 현재 이미지 숨기기
}

.dots {
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &.active {
    background-color: #fff;
  }
}
