.component {
  width: 100%;
  height: 86px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 999;

  &.opened {
    background-color: #4b4b4b;
  }

  @media screen and (max-width: 1000px) {
    height: 60px;
  }
}

.menuButton {
  position: absolute;
  top: 50%;
  left: 34px;
  transform: translateY(-50%);
  cursor: pointer;

  @media screen and (max-width: 1000px) {
    left: 10px;

    > img {
      width: 20px;
      height: auto;
    }
  }
}

.homeButton {
  display: flex;
  align-items: center;
  height: 55px;
  cursor: pointer;

  > h2 {
    color: #302a6e;
  }

  > .title {
    margin-left: 11px;
    margin-top: 5px;
  }

  > .sub {
    margin-left: 7px;
    margin-top: 6px;
    font-size: 24px;
  }

  &.opened {
    > .sub {
      color: #fff;
    }
  }

  @media screen and (max-width: 1000px) {
    > .logoImage {
      width: 20px;
      height: auto;
    }

    > .title {
      margin-top: 2px;
      margin-left: 6px;
      width: 90px;
      height: auto;
    }

    .sub {
      margin-left: 4px;
      margin-top: 4px;
      font-size: 16px;
    }
  }
}
