.component {
  overflow-x: hidden;
  overflow-y: auto;
  flex: 1;
  width: calc(100% - 340px);
  padding: 66px 170px 0 170px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 45px;

  > img {
    margin-bottom: 50px;
  }
}

.title {
  font-size: 30px;
  color: #302a6e;
}
